<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>

<body>
    <header>
        <div id="logo"><img src="static/logo.png"><h1>Emily's Dog Costumes</h1></div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/services">Services</a>
                <li><a href="/costumes">Costumes</a>
            </ul>
        </nav>
    </header>
    <section id="pageContent">
        <main role="main">
            <article>
                <h2>Skeleton</h2>
                <img class="costume" src='/static/skeleton.jpg'>
                <p>This style is great if you are feeling something extra spooky for your pooch.</p>
            </article>
            <article>
                <h2>Punk Rocker</h2>
                <img class="costume" src='/static/punk-rocker.jpg'>
                <p>I thought I was a huge Misfits fan, until I dressed my bff's dog Frank. I think he pulls off the punk rocker look better than me!</p>
            </article>
            <article>
                <h2>Dracula</h2>
                <img class="costume" src='/static/dracula.jpg'>
                <p>My friend Judy got a new puppy, and I just had to dress him up for Halloween! Super cute, and no coffins required.</p>
            </article>
            <article>
                <h2>Witch</h2>
                <img class="costume" src='/static/witch.jpg'>
                <p>Our dog Rose went with the husband out fishing, so I had to dress the cat up in this bewitching costume.</p>
            </article>
        </main>
    </section>
    <footer>
        <p>&copy; All rights reserved to Emily, Dog Costume Extraordinaire</p>
        <address>
            Contact: <a href="mailto:emily@example.com">Emily, Dog Costumer</a>
        </address>
    </footer>


</body>